extends layout

block content
  h1= title
  p Welcome to #{title}
  p Assignment 3

  form(method="GET" action="/users/")
    label Enter name:   
    input(name-"name")
    br
    label Enter number: 
    br
    textarea(name="number")
    input(type="submit" value="submit number")